In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data.csv")

In [3]:
df.shape

(20631, 11)

In [4]:
df_small = df.dropna(
    subset=["release_date", "budget", "revenue", "duration"]
)[["imdb_id", "genres", "release_date", "budget", "revenue", "duration"]]
df_small = df_small[df_small["genres"].isin(["Comedy", "Drama", "Horror"])]

In [5]:
df_small["month"] = df_small["release_date"].str.extract(r"(January|February|March|April|May|June|July|August|September|October|November|December)")

In [6]:
df_small["date"] = df_small["release_date"].str.extract(r"(\d\d?)")

In [7]:
df_small["year"] = df_small["release_date"].str.extract(r"(\d{4})")

In [8]:
df_small["budget"] = df_small["budget"].str.extract(r"([\d,]+)")
df_small["budget"] = df_small["budget"].astype(str).apply(lambda b: int(b.replace(",", "")))

In [9]:
df_small["revenue"] = df_small["revenue"].str.extract(r"([\d,]+)")
df_small["revenue"] = df_small["revenue"].astype(str).apply(lambda r: int(r.replace(",", "")))

In [10]:
import re
def convert_duration_to_min(d):
    times = re.findall("\d+", d)
    hr, minut = 0, 0
    if len(times) == 2:
        hr, minut = times
    elif "hr" in d:
        hr = times[0]
    elif "min" in d:
        minut = times[0]
    return int(hr) * 60 + int(minut)

In [11]:
df_small["duration"] = df_small["duration"].apply(convert_duration_to_min)

In [12]:
df_small = df_small.drop("release_date", axis=1)

In [13]:
df_small.shape

(1336, 8)

In [14]:
df_small["genres"].value_counts()

Drama     716
Comedy    538
Horror     82
Name: genres, dtype: int64

In [15]:
df_small.reset_index(drop=True).to_csv("data_clean.csv")

In [16]:
pd.read_csv("data_clean.csv", index_col=0)

      imdb_id  genres    budget   revenue  duration     month  date  year
0      113041  Comedy  30000000  11134978       106  December     8  1995
1      113987   Drama  44000000   2206506       192   January     5  1996
2      112281  Comedy  30000000  37804076        90  November    10  1995
3      114057   Drama  11000000     29097       123   January    19  1996
4      112792   Drama  23000000  14931503        99    August    11  1995
...       ...     ...       ...       ...       ...       ...   ...   ...
1331  1067765  Comedy   4000000      3783        97  February    14  2014
1332  2382396   Drama   4000000    105881       117     April    11  2014
1333  2442502  Comedy  18000000       738        99   January    22  2014
1334  2170299  Comedy  10000000    113301        89     March    28  2014
1335  3210686   Drama  22000000  25601865       138  February    28  2014

[1336 rows x 8 columns]