In [294]:
import pandas as pd
import re 
import matplotlib.pyplot as plt

In [3]:
data.isna().sum()

imdb_id                     0
title                       0
genres                      0
release_date               34
country                     3
production_companies      293
budget                  10696
revenue                 11849
duration                   18
actors                    133
director                  133
dtype: int64

In [282]:
def get_main_country(countrystring):
    dual = False
    for i in range(len(list(countrystring))-1):
        if list(countrystring)[i].islower() and list(countrystring)[i+1].isupper():
            dual = True
    if dual == True:
        return re.search("(.+?[a-z])(?=[A-Z])",countrystring).group(0)
    else:
        return countrystring

test_str = data_copy['country'].loc[13135]
print(test_str)
get_main_country(test_str)

United States

'United States'

In [115]:
def convert_time(duration):
    if 'hr' in duration:
        hours = duration.split()[0]
        if 'min' in duration:
            mins = duration.split()[2]
            return int(hours)*60 + int(mins)
    else:
        mins = duration.split()[0]
        return mins
    return int(hours) * 60    
    print(duration.index('min'))

In [299]:
data = pd.read_csv('data2.csv')
data_copy = data
data_copy['release_date'] = data_copy['release_date'].str.replace('Release date', '')
data_copy['release_date'] = data_copy['release_date'].str.replace(r"\(.*?\)", "", regex=True)
data_copy['country'] = data_copy['country'].str.replace('Country of origin', '')
data_copy['country'] = data_copy['country'].str.replace('Countries of origin', '')
data_copy['budget'] = data_copy['budget'].str.replace('(estimated)', '')
data_copy['budget'] = data_copy['budget'].str.replace('(','')
data_copy['budget'] = data_copy['budget'].str.replace(')','')
data_copy.dropna(subset=['duration'], how='all', inplace=True)
data_copy.dropna(subset=['country'], how='all', inplace=True)
data_copy['duration'] = data_copy['duration'].apply(lambda x: convert_time(x))
data_copy['duration'] = pd.to_numeric(data_copy['duration'])
data_copy['main_country'] = data_copy['country'].apply(lambda x: get_main_country(x))
data_copy

<ipython-input-299-08332836bc93>:7: FutureWarning: The default value of regex will change from True to False in a future version.
  data_copy['budget'] = data_copy['budget'].str.replace('(estimated)', '')
<ipython-input-299-08332836bc93>:8: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data_copy['budget'] = data_copy['budget'].str.replace('(','')
<ipython-input-299-08332836bc93>:9: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data_copy['budget'] = data_copy['budget'].str.replace(')','')

,imdb_id,title,genres,release_date,country,production_companies,budget,revenue,duration,actors,director,main_country
0,114709,Toy Story (1995),Adventure;Animation;Children;Comedy;Fantasy,"November 22, 1995",United States,Walt Disney Pictures;Pixar Animation Studios,"$30,000,000","$29,140,617",81,Tom Hanks;Tim Allen;Don Rickles;Jim Varney;Wal...,John Lasseter,United States
1,113497,Jumanji (1995),Adventure;Children;Fantasy,"December 15, 1995",United States,TriStar Pictures;Interscope Communications;Tei...,"$65,000,000","$11,084,370",104,Robin Williams;Kirsten Dunst;Bonnie Hunt;Jonat...,Joe Johnston,United States
2,113228,Grumpier Old Men (1995),Comedy;Romance,"December 22, 1995",United States,Lancaster Gate;Warner Bros.,"$25,000,000","$7,797,185",101,Walter Matthau;Jack Lemmon;Ann-Margret;Sophia ...,Howard Deutch,United States
3,114885,Waiting to Exhale (1995),Comedy;Drama;Romance,"December 22, 1995",United States,Twentieth Century Fox,"$16,000,000","$14,126,927",124,Whitney Houston;Angela Bassett;Loretta Devine;...,Forest Whitaker,United States
4,113041,Father of the Bride Part II (1995),Comedy,"December 8, 1995",United States,Touchstone Pictures;Sandollar Productions;Tayl...,"$30,000,000","$11,134,978",106,Steve Martin;Diane Keaton;Martin Short;Kimberl...,Charles Shyer,United States
...,...,...,...,...,...,...,...,...,...,...,...,...
20626,1801061,Me and you (io e te) (2012),Drama,"October 25, 2012",Italy,Fiction;Wildside;Medusa Film,NaN,NaN,103,Jacopo Olmo Antinori;Tea Falco;Sonia Bergamasc...,Bernardo Bertolucci,Italy
20627,64725,Night Gallery (1969),Horror;Mystery,"November 8, 1969",United States,Universal Television,NaN,NaN,98,Joan Crawford;Ossie Davis;Richard Kiley;Roddy ...,Boris Sagal(segment The Cemetery);Barry Shear(...,United States
20628,1747958,Blood Ties (2013),Crime;Drama;Thriller,"October 30, 2013",FranceUnited States,Tr√©sor Films;Worldview Entertainment;Caneo Films,"$25,500,000","$26,912",127,Clive Owen;Marion Cotillard;Billy Crudup;Mila ...,Guillaume Canet,France
20629,3203290,Free to Play (2014),Documentary,"April 14, 2021",United States,Valve,"$150,000",NaN,75,Benedict Lim;Clinton Loomis;Danil Ishutin;Edwi...,Valve,United States
20630,377309,Survival Island (Three) (2005),Adventure;Drama;Horror,"May 5, 2006",United StatesUnited KingdomLuxembourg,Thema Production;T Films;Future Films,"$9,000,000",NaN,95,Billy Zane;Kelly Brook;Juan Pablo Di Pace;Todd...,Stewart Raffill,United States